<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>ShampanERP-@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <script src="~/assets/javascripts/jQuery2.1.4.js"></script>
    <link href="~/assets/NewFolder1/dataTables/demo_table.css" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/demo_table.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/demo_table_jui.css")" rel="stylesheet" type="text/css" />
    <link href="http://cdn.datatables.net/responsive/1.0.1/css/dataTables.responsive.css" rel="stylesheet">
    @*    <a href="~/Areas/HRM/Views/Job/_jobHistory.cshtml">~/Areas/HRM/Views/Job/_jobHistory.cshtml</a>*@
    <link href="~/assets/css/menu.css" rel="stylesheet" />
    <link href="~/assets/css/menu.css" rel="stylesheet" />

    <link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/stylesheets/common.css" rel="stylesheet" />
    @*<link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>*@
    <link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
    <link href="~/assets/css/jquery.ptTimeSelect.css" rel="stylesheet" />
    <link href="~/assets/css/SymphonyBtn.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @*   @Scripts.Render("~/bundles/modernizr")*@
    <style>
        .LogoutButton {
            width: 24px;
            border-radius: 5px;
            padding-left: -3px !important;
        }
        .wth {
            width: 15%;
        }
    </style>
    <script>
        $(document).ready(function () {
            var url = "";
            $(".dialog-alert").dialog({
                autoOpen: false,
                resizable: false,
                //height: 170,
                title: 'Symphony ERP',
                width: 350,
                position: ['center', 20],
                show: {
                    effect: 'drop', direction: "up", effect: "blind",
                    duration: 300
                },
                hide: {
                    effect: "explode",
                    duration: 300
                },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    var msg = '@TempData["msg"]';
                    msg = msg.split("~");
                    $(".ui-dialog").addClass('' + msg[0]);
                    $(".msgg").html("" + msg[1]);
                },
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        window.location.reload(true);

                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                        window.location.reload(true);
                    }
                }
            });

            if ('@TempData["msg"]' != "") {
                //  $(".dialog-alert").dialog('open');
                var msg = '@TempData["msg"]';
                msg = msg.split("~");
                ShowResult(msg[0], msg[1]);
            }

            $(".dialog-create").dialog({
                title: 'Create',
                autoOpen: false,
                resizable: false,
                width: 400,
                position: ['center', 20],
                show: {
                    effect: 'drop', direction: "up", effect: "blind",
                    duration: 300
                },
                hide: {
                    effect: "explode",
                    duration: 300
                },
                modal: true,
                draggable: true,
                open: function (event, ui) {

                    $(".ui-dialog-titlebar-close").hide();
                    $(".ui-dialog").removeClass('Success');
                    $(".ui-dialog").removeClass('Fail');
                    $(this).load(url);
                }
            });
            $(".dialog-edit").dialog({
                title: 'Update',
                autoOpen: false,
                resizable: false,
                width: 400,
                position: ['center', 20],
                show: {
                    effect: 'drop', direction: "up", effect: "blind",
                    duration: 300
                },
                hide: {
                    effect: "explode",
                    duration: 300
                },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(".ui-dialog").removeClass('Success');
                    $(".ui-dialog").removeClass('Fail');
                    $(this).load(url);
                }
            });
            $(".dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                title: 'Symphony ERP',
                height: 170,
                width: 350,
                position: ['center', 20],
                show: {
                    effect: 'drop', direction: "up", effect: "blind",
                    duration: 300
                },
                hide: {
                    effect: "explode",
                    duration: 300
                },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(".ui-dialog").removeClass('Success');
                    $(".ui-dialog").removeClass('Fail');

                },
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        window.location.href = url;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(".dialog-detail").dialog({
                title: '@ViewBag.title' ,
                autoOpen: false,
                resizable: false,
                width: 850,
                position: ['center', 20],
                show: {
                    effect: 'drop', direction: "up", effect: "blind",
                    duration: 300
                },
                hide: {
                    effect: "explode",
                    duration: 300
                },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(".ui-dialog").removeClass('Success');
                    $(".ui-dialog").removeClass('Fail');
                    $(this).load(url);
                }
            });

            $(".lnkCreate").live("click", function (e) {
                url = $(this).attr('href');
                $(".dialog-create").dialog('open');

                return false;
            });
            $(".btnCreate").live("click", function (e) {
                url = $(this).attr('data-url');
                $(".dialog-create").dialog('open');

                return false;
            });
            $(".lnkEdit").live("click", function (e) {
                url = $(this).attr('href');
                $(".dialog-edit").dialog('open');

                return false;
            });

            $(".lnkDelete").live("click", function (e) {
                url = $(this).attr('href');
                //url = $(this).attr('data-url');
                $(".dialog-confirm").dialog('open');

                return false;
            });

            $(".lnkDetail").live("click", function (e) {
                url = $(this).attr('href');
                $(".dialog-detail").dialog('open');

                return false;
            });
            $(".btncancel").live("click", function (e) {
                $(".dialog-edit").dialog("close");
                $(".dialog-create").dialog("close");
                $(".dialog-detail").dialog("close");
                return false;
            });



        });
    </script>
    @RenderSection("head", required: false)
</head>
<body onload="window.scroll(0, 150)">
    <div id="hrcss1">


        <div class="content title">
            @try
            {
                if (Session["User"].ToString() == "" && Session["User"].ToString() != null)
                {
                    <script>
                    window.location.href = "/";
                    </script>
                }
            }
            catch (Exception)
            {
                <script>
                    window.location.href = "/";
                </script>
            }

            <div class="row">
                <div class="col-sm-6">
                    <img src="~/assets/Images/symphonyLogo.png" width="280" />
                </div>
                <div style="" class="col-sm-6 toplog">
                    <div style="font-size: 1vw; width: 94%; text-align: right; float: left; text-align: right;">
                        @try
                        {
                            if (Session["UserType"].ToString() == "True")
                            {
                                <label>@Session["FullName"].ToString() (Admin)</label>
                            }
                            else
                            {
                                <label>@Session["FullName"].ToString() (User)</label>
                            }
                        }
                        catch (Exception)
                        {
                            <script>
                                window.location.href = "/";
                            </script>
                        }
                    </div>
                    <div class="LogoutButton" style="width: 4.5%; float: right;">

                        <a title="Log Out" href="/Home/LogOut">
                            <img src="~/assets/Images/exit.png" alt="Log Out" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/.content-->
        @Html.Partial("_navbar")
        @Html.Partial("_leftnav")
        <!--/.content-->
        <div class="contentBody" style="min-height:400px">
            @RenderBody()
            @Scripts.Render("~/bundles/jquery")
            @RenderSection("scripts", required: false)
        </div>
        <div>
            <div class="dialog-alert" style="display: none">
                <div class="msgg">jj</div>


            </div>
            <div class="dialog-confirm" style="display: none">
                <p>
                    <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                    Are you sure to delete?
                </p>
            </div>


            <div class="dialog-create" style="display: none">
            </div>
            <div class="dialog-edit" style="display: none">
            </div>
            <div class="dialog-detail" style="display: none">
            </div>
        </div>
        <br />
        <div class="content black">
            <p><i class="fa fa-asterisk"></i>Powered By <a href="http://symphonysoftt.com/" target="_blank">Symphony</a>.</p>
        </div>
    </div>
    <script src="~/assets/javascripts/custom.js"></script>

    <script src="~/assets/javascripts/jquery.min.js"></script>
    <script src="~/assets/javascripts/jquery.validate.js"></script>
    <script src="~/assets/javascripts/jquery.validate.min.js"></script>
    <script src="~/assets/javascripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/javascripts/jquery-1.8.2.min.js"></script>
    <script src="~/assets/javascripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/assets/javascripts/default.js"></script>

    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/typeahead.bundle.js"></script>
    <script src="/assets/js/form-elements.js"></script>
    <script src="/assets/js/ui-buttons.js"></script>
    <script src="/assets/js/form-dropzone.js"></script>
    <script src="/assets/js/table-data.js"></script>
    @*    <script src="~/assets/js/jquery.dataTables.min.js"></script>*@
    <script src="~/assets/NewFolder1/jquery.dataTables.min.js"></script>

    <script src="~/assets/javascripts/jquery.ptTimeSelect.js"></script>
    <script src="~/assets/javascripts/jquery.dataTables.columnFilter.js"></script>
    <div class="dialog-country" style="display: none">
        <h2>Country List </h2>
        <ul>
            <li>Bangladesh</li>
            <li>India</li>
            <li>.....</li>
        </ul>
        <h3>Please write your desire data</h3>
    </div>
    <div class="dialog-division" style="display: none">
        <h2>Division List </h2>
        <ul>
            <li>Dhaka</li>
            <li>Rajshahi</li>
            <li>.....</li>
        </ul>
        <h3>Please write your desire data</h3>
    </div>
    <div class="dialog-district" style="display: none">
        <h2>District List </h2>
        <ul>
            <li>Dhaka</li>
            <li>Tangail</li>
            <li>.....</li>
        </ul>
        <h3>Please write your desire data</h3>
    </div>
    <script>
        $(".dialog-country").dialog({
            title: 'Symphony ERP(Country)',
            autoOpen: false,
            width: 350,
            show: { effect: "explode", duration: 300 },
            hide: { effect: "explode", duration: 300 },
            buttons: {
                "Cancel": function () { $(this).dialog("close"); }
            }
        });
        $(".dialog-division").dialog({
            title: 'Symphony ERP(Division)',
            autoOpen: false,
            width: 350,
            show: { effect: "explode", duration: 300 },
            hide: { effect: "explode", duration: 300 },
            buttons: {
                "Cancel": function () { $(this).dialog("close"); }
            }
        });
        $(".dialog-district").dialog({
            title: 'Symphony ERP(District)',
            autoOpen: false,
            width: 350,
            show: { effect: "explode", duration: 300 },
            hide: { effect: "explode", duration: 300 },
            buttons: {
                "Cancel": function () { $(this).dialog("close"); }
            }
        });
        $(function () {
            if (typeof topMenuActive != 'undefined' && topMenuActive) {
                $("li." + topMenuActive).addClass("leftMenuActive");
            };
            if (typeof leftMenuActive != 'undefined' && leftMenuActive) {
                $("li." + leftMenuActive).addClass("leftMenuActive");
            };
        });
    </script>
</body>
</html>
